* {
    box-sizing: border-box;
}

header .menu {
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: #2a7f09;
    justify-content: space-between;
    align-items: center;
}

header .menu ul li {
    list-style-type: none;
    display: inline-block;
    font-weight: bolder;
    font-size: 20px;
}

header .menu ul li a {
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease;
}

header .menu ul li a:hover {
    color: black;
}

header .menu .logo {
    font-weight: bolder;
    font-size: 40px;
    margin-left: 30px;
    color: #fff;
}

body>table {
    width: 100%;
}

table {
    border-collapse: collapse;
}

table.list {
    width: 100%;
    margin-top: -160px;
}

.thead {
    color: #ccc;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

td,
th {
    border: 2px solid #d9f8bb;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even),
table.list thead>tr {
    background-color: #2a7f09;
    color: #fff;
}

input[type=text],
input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(8, 238, 77);
    border-radius: 12px;
    box-sizing: border-box;
    outline: none;
}

.submit {
    width: 100%;
    background-color: rgb(31, 96, 194);
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: larger;
    float: right;
    border: 2px solid rgb(8, 238, 77);
    transition: background 0.8s ease;
}

.submit:hover {
    background: none;
    color: rgb(8, 238, 77);
}

form.form-action-buttons {
    text-align: right;
}

a {
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
}

label.validation-error {
    color: red;
    margin-left: 5px;
}

.hide {
    display: none;
}

table>.list>tbody button {
    width: 25%;
    height: inherit;
    border: 2px solid green;
}